*{
    margin: 0;
    padding: 0;
}


.section{
    background:yellow;


}


.stack{
    background:blue;
    margin:0 auto;
    width: 80%;

}


.contenedor{
    background:red;
    width: 300px;
    margin: 0 auto;
}

.contenedor nav ul{
    display: block;
    list-style:none;
}

.contenedor nav ul li{
    margin-bottom: 15px;
    text-align: center;
}


.contenedor nav ul li a{
    text-decoration:none; 
    color: #fff;
    background: #;


}