.overlay{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 100;

}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #f8f8f8;
    border-radius: 10px ;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 600;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -khtml-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    opacity: 0;

    
    transform: scale(0.7);
   
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;

}


.popup .btn-cerrar-popup:hover{
    color: #000000;
}


.popup h3{
    font-size: 36px;

    opacity: 0;
}




.popup nav{
    font-size: 20px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}


.popup p{
    margin-bottom: 20px;
}


.btn-links{
    color:#fff;
    display: block;    
    background: #65a722;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 0px 10px rgb(99, 99, 99)3, 72, 72);
    border-radius: 50px;
    width: 300px;
   
   
}


.btn-links:after{
    color: white;
}


.btn-links:active{
    color: white;
}



.btn-links:hover{
    color: white;
    background:  #78ca25;
    
}







.popup.active{
    opacity: 0;
    transform: scale(1);

}


.popup.active h3 { animation: entradaTitulo .4s ease .1s forwards ;}

@keyframes entradaTitulo{
    from {
        transform: translateY(-25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.popup.active{
     animation: entradaSubTitulo .3s ease .1s forwards ;}

    @keyframes entradaSubTitulo{
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


  


